<template>
    <div>
        <div class="card card-body">
            <h3 class="box-title m-b-0">Linkedin Connect Forms</h3>
            <!-- <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p> -->
            <br>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" v-model="name" placeholder="Enter Name" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Link</label>
                            <input type="text" class="form-control" v-model="link" placeholder="Enter link" required>
                        </div>                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">Job</label>
                            <input type="text" class="form-control" v-model="job" placeholder="Enter Job">
                        </div>                                                
                        <div class="form-group">
                            <label for="exampleInputEmail1">Company</label>
                            <input type="text" class="form-control" v-model="company" placeholder="Enter Company">
                        </div> 
                                                
                        <label for="input-file-now">Upload Message Screenshot</label>
                        <div class="dropify-wrapper"><div class="dropify-message"><span class="file-icon"></span> <p>Drag and drop a file here or click</p><p class="dropify-error">Ooops, something wrong appended.</p></div><div class="dropify-loader"></div><div class="dropify-errors-container"><ul></ul></div><input type="file" id="input-file-now" class="dropify"><button type="button" class="dropify-clear">Remove</button><div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p><p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div></div>
                        
                        <br>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>                        
                    </form>
                </div>
            </div>
        </div>  
        
        <div class="card card-body">
            <h4 class="card-title">Table</h4>
            <!-- <h6 class="card-subtitle">Add<code>.table-bordered</code>for borders on all sides of the table and cells.</h6> -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Job</th>
                            <th>Company</th>
                            <th class="text-nowrap">Action</th>
                            <th class="text-nowrap">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dimas Bagus</td>
                            <td>https://www.linkedin.com/in/dimasbagusananta/</td>
                            <td>Businesses Development Executive</td>
                            <td>OYO Indonesia</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Upload"> <i class="fa fa-image text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="View"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                            </td>
                            <td>
                                <span class="label label-danger">Connected Sent</span>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: null,
                link: null,
                job: null,
                company: null
                
            }
        },
        mounted (){
            $('.dropify').dropify();
        }
    }
</script>